// WEBSITE COLORS
$black: #000000;
$red: #ff4646; // ROJO DE ERRORES

// BRAND COLORS
$mainColor: #D35C00;
$secondColor: #E7E6DF;
$bntsColor: $mainColor;

// DON'T CHANGE
$lightGray1: #F8F8F8;
$lightGray2: #f2f2f2;
$mediumGray1: #d9d9d9;
$mediumGray2: #767676;
$mediumGray3: #5D6473;
$darkGray1: #3C3D3E;
$darkGray2: #333333;
$darkGray3: #1E1D1D;
$lightBlue: rgba(#EBF3F5, 0.5);
$errorColor: $red;
$infoColor: $mainColor;
// DON'T CHANGE