$mode: light;

.contact-section {
    background-image: url('assets/contact.png');

    h2, p {
        @if( $mode == dark ) {
            color: white;
        }
    }
    p {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    img {
        margin-top: 4rem;
        max-width: 400px;
    }
}